@charset "utf-8";

body,html,h1,h2,h3,h4,h5,h6,div,p,span,ul,li,dl,dt,dd,img,a,input{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
img{
  display: block;
  border: 0;
}
body{
  font-size: 12px;
  font-family:"微软雅黑";
  color: #3e3e3e;
}
header,footer,section,article,figure,figcaption,aside,nav{
  display: block;
}
a{
  text-decoration: none;
}
.w{
  width:1200px;
  margin: 0 auto;
}
.l{
  float: left;
}
.r{
  float: right;
}